.div-class {
  padding: 5px 10px 15px 20px;
  border: 3px dotted blue;
  margin: 10px 20px 30px 40px;
  text-align: center;
  height: 300px;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  margin: 0;
}
html,
body {
  height: 100%;
}
#first-box {
  display: none;
}
#second-box:hover {
  color: aqua;
  background: red;
}
